// Базовые стили проекта
ul {
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  outline: none;
}

// C O L O R S
$main-bg-color: #ffffff;
$footer-bg-color: #f7f7f7;

$header-text-color: #ffffff;
$notification-text-color: #ff001b;
$main-text-color: #000000;
$accent-text-color: #ff6b08;
$footer-text-color: #545454;
$modal-subtitle-text-color: #8c8c8c;

body {
  background: $main-bg-color;
  color: $main-text-color;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  letter-spacing: 0.04em;

  animation-name: LightSchemeBodyBackground;
  animation-fill-mode: forwards;
  animation-duration: 250ms;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.wrapper {
  display: flex;
  flex-direction: column;
}

header {
  flex-grow: 0;
}

main {
  flex-grow: 1;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
}

footer {
  flex-grow: 0;
}

.container {
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;

  @media screen and (min-width: 320px) {
    width: 320px;
  }
  @media screen and (min-width: 768px) {
    width: 768px;
    padding-left: 75px;
    padding-right: 75px;
  }
  @media screen and (min-width: 1024px) {
    width: 1024px;
    padding-left: 71px;
    padding-right: 71px;
  }
}

.button {
  height: 44px;
  box-sizing: border-box;
  border-radius: 5px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  text-transform: uppercase;
  cursor: pointer;
}

.button--orange {
  background-color: #ff6b01;
  color: #ffffff;
  border: hidden;
}

.button--transparent {
  background-color: transparent;
  color: $main-text-color;
  border: 1px solid #000000;
}

.button--warning {
  background-color: #cc0014;
  color: #ffffff;
  border: 1px solid #000000;
}
