.body--dark-scheme {
  // background-color: #0f0f0f;
  // color: #ffffff;
  animation-name: DarckSchemeBodyBackground;
  animation-fill-mode: forwards;
  animation-duration: 250ms;
}

.container-footer.container-footer--dark-scheme {
  background: linear-gradient(180deg, rgb(15, 15, 15), rgb(0, 0, 0));
  color: #ffffff;
}

.footer--dark-scheme {
  margin-top: 60px;
  background: linear-gradient(180deg, rgb(15, 15, 15), rgb(0, 0, 0));

  @media screen and (min-width: 320px) {
    margin-top: 40px;
  }
}

.team-modal-link.team-modal-link--dark-scheme {
  color: #ffffff;
  text-decoration: underline;
}

.underline.underline--dark-scheme {
  color: #ffffff;
}

.modal-background--dark-scheme {
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75));
}

.team-modal .main-text-color--dark-scheme {
  color: #ffffff;
}

.team-modal .team-wrapper--dark-scheme {
  background-color: #0f0f0f;
}

.team-modal .social-list-icon--dark-scheme {
  fill: #ffffff;
  &:hover {
    fill: #ff6b08;
  }
}

.team-modal .team-close-cross--dark-scheme {
  stroke: #ffffff;
  &:hover {
    stroke: #ff6b08;
  }
}

.tui-pagination .tui-page-btn.tui-page-btn--dark-scheme {
  color: #ffffff;

  &:hover,
  &:focus {
    color: $main-text-color;
    //background: #ff6b08;
    border-color: #ff6b08;
    border-radius: 5px;
  }
}

.thumb--dark-scheme {
  box-shadow: 0 0 10px 3px rgba(255, 255, 255, 0.5);
}

@keyframes DarckSchemeBodyBackground {
  0% {
    background: $main-bg-color;
    color: $main-text-color;
  }
  100% {
    background-color: #0f0f0f;
    color: #ffffff;
  }
}
@keyframes LightSchemeBodyBackground {
  0% {
    background-color: #0f0f0f;
    color: #ffffff;
  }
  100% {
    background: $main-bg-color;
    color: $main-text-color;
  }
}
