// Стили для footer partial
.container-footer {
  // margin-left: auto;
  // margin-right: auto;
  // padding-top: 0px;
  // padding-bottom: 0px;
  width: 100%;
  background-color: $footer-bg-color;
  color: $footer-text-color;
}

footer {
  // margin-top: 60px;
  // color: $footer-text-color;
  max-width: 1024;
}

.footer__image {
  margin-left: 10px;
  margin-right: 10px;
}

.underline {
  color: $footer-text-color;
  text-decoration: underline;
}

.team-modal-link {
  color: $footer-text-color;
}

@media screen and (min-width: 320px) {
  .container-footer {
    margin-top: 40px;
    padding-top: 29px;
    padding-bottom: 29px;
  }
  .page__footer {
    // margin-top: 40px;
    font-size: 14px;
    font-weight: 400;
  }
  .copyright {
    display: flex;
    justify-content: center;

    margin: 0px;
    // padding-top: 29px;
    padding-bottom: 10px;
  }
  .developers {
    display: flex;
    justify-content: center;

    margin: 0px;
    // padding: 30px;
    // padding-bottom: 29px;
  }
}

@media screen and (min-width: 768px) {
  .container-footer {
    margin-top: 60px;
    max-width: 1024px;
  }
  .page__footer {
    display: flex;
    justify-content: center;
    align-items: baseline;

    // padding-top: 30px;
    // padding-bottom: 28px;

    font-size: 16px;
    font-weight: 400;
    // margin-top: 60px;
  }
  .copyright {
    padding-bottom: 0px;
  }
}
