.team-modal {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  top: 0;
  left: 0;
  overflow-y: auto;
  overflow-x: hidden;
  opacity: 0;
  visibility: hidden;
  transition: all 0.8s ease 0s;
}

.team-modal.open {
  opacity: 1;
  visibility: visible;
}

.team-modal.open .team-modal-content {
  transform: perspective(600px) translate(0px, 0%) rotateX(0deg);
  opacity: 1;
}

.team-modal-body {
  min-height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px 10px;
}

.team-modal-content {
  background-color: #fff;
  color: black;
  max-width: 1240px;
  padding: 10px;
  position: relative;
  transition: all 0.8s ease 0s;
  opacity: 0;
  transform: perspective(600px) translate(0px, -100%) rotateX(45deg);
}

.team-modal-close {
  font-weight: bold;
  position: absolute;
  right: 20px;
  top: 10px;
  font-size: 20px;
  color: black;

  &:hover,
  &:focus {
    color: #ff6b08;
  }
}

// ============CARDS=================
.team {
  padding-top: 40px;
}

.team-title {
  margin-top: 25px;
  text-align: center;
  color: #ff6b08;
  font-weight: bold;
  font-size: 23px;
  line-height: 1.187;
  text-align: center;
  letter-spacing: 0.06em;
  font-family: 'Dancing Script', cursive;
}

.team-img {
  width: 200px;
  height: 220px;
  object-fit: cover;
  border-radius: 5% 5% 0 0;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .team {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
}

.team-list-item {
  margin-bottom: 15px;
  border-radius: 10px;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);

  // &:hover,
  // &:focus {
  //   transform: scale(1.1);
  // }
}

.team-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.team-list-title {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.187;
  text-align: center;
  letter-spacing: 0.03em;
  color: black;
  margin-bottom: 10px;
  padding-top: 10px;
}

.team-list-text {
  font-weight: normal;
  font-size: 11px;
  line-height: 1.187;
  text-align: center;
  letter-spacing: 0.03em;
  color: grey;
  padding-bottom: 16px;
}

.social-list-icon {
  width: 20px;
  height: 20px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding-bottom: 5px;
}

.social-list-link:not(:last-child) {
  margin-right: 20px;
}

.social-list-link:hover,
.social-list-link:focus {
  fill: #ff6b08;
  transform: scale(1.2);
}

.social-list-link-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

@media screen and (min-width: 768px) {
  .team {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .team-list-item {
    margin-right: 10px;
  }

  // .team1-item {
  // }

  // @media screen and (min-width: 1024px) {
  // }
}
