ul {
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  outline: none;
}

body {
  background: #ffffff;
  color: #000000;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  letter-spacing: 0.04em;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.container {
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
}

@media screen and (min-width: 320px) {
  .container {
    width: 320px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
    padding-left: 75px;
    padding-right: 75px;
  }
}

@media screen and (min-width: 1024px) {
  .container {
    width: 1024px;
    padding-left: 71px;
    padding-right: 71px;
  }
}

.button {
  height: 44px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 5px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  text-transform: uppercase;
  cursor: pointer;
}

.button--orange {
  background-color: #ff6b01;
  color: #ffffff;
  border: hidden;
}

.button--transparent {
  background-color: transparent;
  color: inherit;
  border: 1px solid #000000;
}

.card {
  border: 1px solid #000;
  width: 100%;
  margin: 0 auto;
  position: relative;
  padding: 48px 20px 40px 20px;
}

@media screen and (min-width: 320px) {
  .card {
    width: 280px;
  }
}

@media screen and (min-width: 768px) {
  .card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 618px;
    padding: 40px 30px;
  }
}

@media screen and (min-width: 1024px) {
  .card {
    width: 882px;
    padding: 50px 30px 40px;
  }
}

.card__image {
  max-width: 100%;
  margin-bottom: 30px;
}

@media screen and (min-width: 768px) {
  .card__image {
    margin-right: 30px;
  }
}

@media screen and (min-width: 768px) {
  .card__wrapper {
    width: 264px;
  }
}

@media screen and (min-width: 1024px) {
  .card__wrapper {
    width: 396px;
  }
}

.card__description {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (min-width: 768px) {
  .card__description {
    -webkit-box-pack: left;
        -ms-flex-pack: left;
            justify-content: left;
  }
}

@media screen and (min-width: 768px) {
  .card__description--1 {
    margin-right: 40px;
  }
}

@media screen and (min-width: 1024px) {
  .card__description--1 {
    margin-right: 85px;
  }
}

.card__title {
  font-weight: 500;
  font-size: 20px;
  line-height: 23px;
}

@media screen and (min-width: 1024px) {
  .card__title {
    font-size: 30px;
    line-height: 35px;
  }
}

.card__label {
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  color: #8c8c8c;
  margin-bottom: 10px;
}

.card__rating {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
}

.card__rating--orange {
  background-color: #ff6b01;
  color: #fff;
  padding: 1px 8px;
  border-radius: 5px;
}

.card__rating--white {
  background-color: #f7f7f7;
  padding: 1px 4px;
  border-radius: 5px;
}

.card__subtitle {
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.card__text {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.67;
  padding-bottom: 20px;
}

.card__buttons {
  padding-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (min-width: 1024px) {
  .card__buttons {
    -webkit-box-pack: left;
        -ms-flex-pack: left;
            justify-content: left;
  }
}

.card__btn {
  width: 112px;
  height: 44px;
  border: 1px solid #000000;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 5px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  text-transform: uppercase;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0);
}

@media screen and (min-width: 768px) {
  .card__btn {
    width: 125px;
  }
}

@media screen and (min-width: 1024px) {
  .card__btn {
    min-width: 136px;
    margin-right: 15px;
  }
}

.card__btn:hover {
  background-color: #ff6b01;
  color: #ffffff;
  border: hidden;
}

.close-button {
  position: absolute;
  top: 8px;
  right: 8px;
  padding: 5px;
  background-color: transparent;
  border: transparent;
  outline: none;
  cursor: pointer;
}

.close-button:hover > .close-cross,
.close-button:focus > .close-cross {
  stroke: #ff6b01;
}

.close-cross {
  stroke: black;
}
/*# sourceMappingURL=main.css.map */