{{#each this}}
<li class='item' data-id='{{id}}'>
  <div class='thumb'><img src='https://image.tmdb.org/t/p/w500{{poster_path}}' alt='' /></div>
  <p>
    {{original_title}}
    <br />
    <span>Drama, Action | 2020</span>
  </p>
</li>
{{/each}}