<div class="container empty-message">
  <p class="empty-message__text empty-message__text--accent">Whooops!</p>
  <p class="empty-message__text">No films added yet!</p>
  <p class="empty-message__text">Check back after adding a few films in your library.</p>
</div>