`<div id="range2" class="modal-auth is-hidden">
      <div class="outer">
        <div class="middle">
          <div class="inner">
            <div class="login-wr">
              <h2>Вход</h2>

                <form class="auth-form">
                  <input type="email" placeholder="Email" />
                <input type="password" placeholder="Password" />
                <button type="button" class="sign-in-btn">Войти</button>
                <button type="button" class="registr-btn">Регистрация</button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>