`<div id="range2" class="modal-auth is-hidden">
      <div class="outer">
        <div class="middle">
          <div class="inner">
            <div class="login-wr">
              <h2>Sign in</h2>
<button
  type='button'
  class='login_wr__close-button'
>
  <svg  width='25' height='25' viewBox='0 0 30 30'>
    <path d='M8 8L22 22' stroke-width='2'></path>
    <path d='M8 22L22 8' stroke-width='2'></path>
  </svg>
  </button>
                <form class="auth-form">
                  <input type="email" placeholder="Email" />
                <input type="password" placeholder="Password" />
                <button  type="button" class="sign-in-btn range2__btn">Sign in</button>
                <button  type="button" class="registr-btn range2__btn">Create account</button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>