<!-- FT-16 Сверстать шаблон модалки одного фильма (мобилка, планшет, десктоп) -->
<div class="card">
  <button
    type="button"
    class="close-button js-close-menu"
    data-menu-button
    aria-expanded="false"
    aria-controls="menu-container"
  >
    <svg class="close-cross" width="25" height="25" viewBox="0 0 30 30">
      <path d="M8 8L22 22" stroke-width="2" />
      <path d="M8 22L22 8" stroke-width="2" />
    </svg>
  </button>
  <picture class="card__image">
    <source
      srcset="./images/film-modal/desk.jpg 1x, ./images/film-modal/desk@2x.jpg 2x"
      media="(min-width:1024px)"
    />
    <source
      srcset="./images/film-modal/tablet.jpg 1x, ./images/film-modal/tablet@2x.jpg 2x"
      media="(min-width:768px)"
    />
    <source
      srcset="./images/film-modal/mob.jpg 1x, ./images/film-modal/mob@2x.jpg 2x"
      media="(max-width:767px)"
    />
    <img src="./images/film-modal/mob.jpg" alt="A FISTFUL OF LEAD" />
  </picture>

  <div class="card__wrapper">
    <h1 class="card__title">A FISTFUL OF LEAD</h1>

    <div class="card__description">
      <div class="card__description--1">
        <p class="card__label">Vote / Votes</p>
        <p class="card__label">Popularity</p>
        <p class="card__label">Original Title</p>
        <p class="card__label">Genre</p>
      </div>
      <div class="card__description--2">
        <p class="card__rating">
          <span class="card__rating--orange">7.3</span>
          <span>/</span>
          <span class="card__rating--white">1260</span>
        </p>
        <p class="card__rating card__rating--num">100.2</p>
        <p class="card__rating card__rating--text">A FISTFUL OF LEAD</p>
        <p class="card__rating card__rating--text">Western</p>
      </div>
    </div>
    <div class="card__about">
      <h2 class="card__subtitle">About</h2>
      <p class="card__text">
        Four of the West’s most infamous outlaws assemble to steal a huge stash of gold from the
        most corrupt settlement of the gold rush towns. But not all goes to plan one is killed and
        the other three escapes with bags of gold hide out in the abandoned gold mine where they
        happen across another gang of three – who themselves were planning to hit the very same
        bank! As tensions rise, things go from bad to worse as they realise the bags of gold are
        filled with lead... they’ve been double crossed – but by who and how?
      </p>
    </div>
    <div class="card__buttons">
      <button class="button button--orange" type="button">add to Watched</button>
      <button class="button button--transparent" type="button">add to queue</button>
    </div>
  </div>
</div>
