<!-- FT-04 Вёрстка футера (мобилка, планшет, десктоп) (одинаковый для двух страниц) -->
<footer>
  <section class="container">
    <div class="page__footer">
      <p class="copyright">&copy; 2022 | All Rights Reserved |&nbsp;</p>
      <div class="developers">
        <p>Developed with</p>
        <img src="./images/favicon/orange-heart.svg" alt="сердечко иконка" class="footer__image" />
        <p>
          <a class="team-modal-link" href="#team-modal"
            >by <span class="underline">GoIT Students</span>
          </a>
        </p>
      </div>
    </div>
  </section>
</footer>
