<!-- FT-12 Сверстать хедер для страницы "My Library" (мобилка, планшет, десктоп) -->

<header class="header">
  <section class="container">
    <nav class="header-nav">
      <a class="header__home-link link" href="./" lang="en" target="_self">
        <svg class="home-link__icon" id="header-home-link" width="24" height="24">
          <use href="./images/symbol-defs.svg#icon-logo"></use>
        </svg>
        <span class="header__home-link-text">Filmoteka</span>
      </a>
      <ul class="site-nav list">
        <li class="site-nav__item">
          <a class="site-nav__link link" href="./" target="_self">HOME</a>
        </li>
        <li class="site-nav__item">
          <a class="site-nav__link site-nav__link--current link" href="./" target="_self"
            >MY LIBRARY</a
          >
        </li>
      </ul>
    </nav>
    <div class="button-list">
      <button class="button-list__button button" type="button">watched</button>
      <button class="button-list__button button" type="button">queue</button>
    </div>
  </section>
</header>
